$background: #f2f8fb;
$selectBg: #e3eef2;
$checkboxBg: #daeaef;
$checkboxBorder: #c1dde4;
$headers: #303030;
$selectHeaders: #637683;
$checkboxText: #9fafb8;
$selectText: #828b93;
$border: #d5dbdf;
$btnClear: #139ed6;
$btnBg: #ffd542;